<div class="column-layout group">
  <igx-list class="list">
    <igx-list-item [isHeader]="false" *ngFor="let item of iGNorthwindAPIv2CustomerDto" (click)="listItemClick(item)">
      <span igxListLineTitle>{{ item.companyName }}</span>
      <span igxListLineSubTitle>{{ item.customerId }}</span>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout group_1">
  <igx-simple-combo type="border" displayKey="customerId" *ngIf="singleSelectComboVisible1" class="single-select-combo">
    <label igxLabel>Label/Placeholder</label>
  </igx-simple-combo>
  <div class="column-layout group_2">
    <igx-avatar shape="rounded" size="medium" [igxToggleAction]="dialog1" class="avatar"></igx-avatar>
    <h4 class="content">
      {{ varCustomer?.customerId }}
    </h4>
    <h6 class="content">
      {{ varCustomer?.companyName }}
    </h6>
    <div class="row-layout group_3">
      <p class="ig-typography__caption content">
        {{ varCustomer?.address.street }}
      </p>
      <p class="ig-typography__caption content">
        {{ varCustomer?.address.city }}
      </p>
      <p class="ig-typography__caption content">
        {{ varCustomer?.address.country }}
      </p>
    </div>
  </div>
  <div class="column-layout group_4">
    <igx-grid [data]="iGNorthwindAPIv2OrderDto" primaryKey="orderId" displayDensity="cosy" rowSelection="single" [allowFiltering]="true" filterMode="excelStyleFilter" (rowSelectionChanging)="gridRowSelectionChanging($event)" class="grid">
      <igx-grid-toolbar>
        <igx-grid-toolbar-title>Customer orders</igx-grid-toolbar-title>
      </igx-grid-toolbar>
      <igx-column field="orderId" dataType="number" header="orderId" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="customerId" dataType="string" header="customerId" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="employeeId" dataType="number" header="employeeId" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipperId" dataType="number" header="shipperId" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="orderDate" dataType="string" header="orderDate" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="requiredDate" dataType="string" header="requiredDate" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipVia" dataType="number" header="shipVia" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="freight" dataType="number" header="freight" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipName" dataType="string" header="shipName" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.street" dataType="string" header="shipAddress street" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.city" dataType="string" header="shipAddress city" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.region" dataType="string" header="shipAddress region" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.postalCode" dataType="string" header="shipAddress postalCode" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.country" dataType="string" header="shipAddress country" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="shipAddress.phone" dataType="string" header="shipAddress phone" [sortable]="true" [selectable]="false"></igx-column>
    </igx-grid>
    <igx-grid [data]="iGNorthwindAPIv2OrderDetailDto" primaryKey="orderId" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
      <igx-grid-toolbar>
        <igx-grid-toolbar-title>Order details</igx-grid-toolbar-title>
      </igx-grid-toolbar>
      <igx-column field="orderId" dataType="number" header="orderId" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="productId" dataType="number" header="productId" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="unitPrice" dataType="number" header="unitPrice" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="quantity" dataType="number" header="quantity" [sortable]="true" [selectable]="false"></igx-column>
      <igx-column field="discount" dataType="number" header="discount" [sortable]="true" [selectable]="false"></igx-column>
    </igx-grid>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #dialog1>
  <igx-dialog-title>
    <h5>
      What will we cover today?
    </h5>
  </igx-dialog-title>
  <ng-container>
    <igx-list class="list_1">
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar_1 avatar_1_1">
            <igx-icon>
              looks_one
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Create variables</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar_1 avatar_1_2">
            <igx-icon>
              looks_two
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Update variable value</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar_1 avatar_1_3">
            <igx-icon>
              looks_3
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Use variable in API request</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar_1 avatar_1_4">
            <igx-icon>
              looks_4
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Bind component property to variable</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false">
        <span igxListThumbnail>
          <igx-avatar shape="circle" class="avatar_1 avatar_1_5">
            <igx-icon>
              looks_5
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Manage variables</span>
      </igx-list-item>
    </igx-list>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="outlined" igxRipple [igxToggleAction]="dialog1" class="button">
      Let's get started!
    </button>
  </igx-dialog-actions>
</igx-dialog>
