<div class="row-layout row-layout-1">
  <div class="column-layout column-layout-1">
    <h5 class="title-1">
      Sign in
    </h5>
    <igx-input-group type="border" class="user-input">
      <input type="text" igxInput />
      <label igxLabel>Username</label>
    </igx-input-group>
    <igx-input-group type="border" class="user-input">
      <input type="password" igxInput />
      <label igxLabel>Password</label>
    </igx-input-group>
    <button igxButton="raised" igxRipple class="user-input">
      Sign in
    </button>
    <div class="row-layout row-layout-2">
      <igx-checkbox labelPosition="after" class="checkbox-1">
        Remember me
      </igx-checkbox>
      <a target="_blank" class="igx-typography__body-1 hyperlink">
        Forgot password?
      </a>
    </div>
    <button igxButton="outlined" igxRipple class="button-1">
      Create a new account
    </button>
    <p class="igx-typography__caption text-2">
      By signing in, you are agreeing to our terms of use and privacy policy
    </p>
  </div>
</div>
