<div class="column-layout group">
  <igx-tabs [disableAnimation]="true" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
        <igx-icon igxTabHeaderIcon>backup</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs [disableAnimation]="true" tabAlignment="center" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs [disableAnimation]="true" tabAlignment="end" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>assignment</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>account_balance_wallet</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>account_circle</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs [disableAnimation]="true" class="tabs">
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            alarm_add
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            alarm_on
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            all_out
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            account_balance
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-prefix>
          <igx-icon class="icon">
            person
          </igx-icon>
        </igx-prefix>
        <div>
          <p class="text">
            Tab Header
          </p>
        </div>
        <igx-suffix>
          <igx-icon class="icon">
            clear
          </igx-icon>
        </igx-suffix>
      </igx-tab-header>
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
    </igx-tab-item>
  </igx-tabs>
  <div class="row-layout group_1">
    <igx-tabs tabAlignment="justify" [disableAnimation]="true" class="tabs">
      <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Tab</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content">
          <igx-card type="outlined" class="card">
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Title goes here
              </h3>
              <h5 igxCardHeaderSubtitle>
                Subtitle goes here
              </h5>
            </igx-card-header>
            <igx-card-content class="body-content"></igx-card-content>
            <igx-card-actions class="actions-content">
              <button igxButton="flat" igxRipple class="button">
                Button
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  favorite
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  bookmark
                </igx-icon>
              </button>
              <button igxButton="icon" igxRipple>
                <igx-icon>
                  share
                </igx-icon>
              </button>
            </igx-card-actions>
          </igx-card>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content">
          <igx-calendar class="calendar"></igx-calendar>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="fake_tab_content"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>TabEnd</span>
        </igx-tab-header>
      </igx-tab-item>
    </igx-tabs>
  </div>
</div>
<div class="column-layout group">
  <igx-tabs tabAlignment="justify" [disableAnimation]="true" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="tab-item">
      <igx-tab-content class="fake_tab_content">
        <div class="column-layout group_2">
          <div class="row-layout group_3">
            <igx-input-group type="border" class="input">
              <igx-prefix>
                <igx-icon class="icon">
                  person
                </igx-icon>
              </igx-prefix>
              <input type="text" igxInput />
              <label igxLabel>Label/Placeholder</label>
            </igx-input-group>
            <igx-input-group type="border" class="input">
              <igx-prefix>
                <igx-icon class="icon">
                  lock
                </igx-icon>
              </igx-prefix>
              <input type="password" igxInput />
              <label igxLabel>Password</label>
            </igx-input-group>
            <igx-input-group type="border" class="input">
              <input type="text" igxInput />
              <label igxLabel>Label/Placeholder</label>
            </igx-input-group>
          </div>
          <button igxButton="raised" igxRipple class="button_1">
            Some action
          </button>
        </div>
        <div class="column-layout group_4">
          <igx-grid [data]="northwindCustomers" primaryKey="customerID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
            <igx-column header="customerID" field="customerID" dataType="string" [sortable]="true" title="customerID"></igx-column>
            <igx-column header="companyName" field="companyName" dataType="string" [sortable]="true" title="companyName"></igx-column>
            <igx-column header="contactName" field="contactName" dataType="string" [sortable]="true" title="contactName"></igx-column>
            <igx-column header="contactTitle" field="contactTitle" dataType="string" [sortable]="true" title="contactTitle"></igx-column>
            <igx-column header="street" field="address.street" dataType="string" [sortable]="true" title="address.street"></igx-column>
            <igx-column header="city" field="address.city" dataType="string" [sortable]="true" title="address.city"></igx-column>
            <igx-column header="region" field="address.region" dataType="string" [sortable]="true" title="address.region"></igx-column>
            <igx-column header="postalCode" field="address.postalCode" dataType="string" [sortable]="true" title="address.postalCode"></igx-column>
            <igx-column header="country" field="address.country" dataType="string" [sortable]="true" title="address.country"></igx-column>
            <igx-column header="phone" field="address.phone" dataType="string" [sortable]="true" title="address.phone"></igx-column>
          </igx-grid>
        </div>
      </igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>input + grid</span>
        <igx-icon igxTabHeaderIcon>backup</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content">
        <igx-card type="outlined" [horizontal]="true" *ngFor="let item of northwindEmployees" class="card_1">
          <div class="group_5">
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                {{ item.lastName }}
              </h3>
              <h5 igxCardHeaderSubtitle>
                {{ item.title }}
              </h5>
            </igx-card-header>
          </div>
          <igx-card-media width="100px">
            <img [src]="item.avatarUrl" class="image" />
          </igx-card-media>
        </igx-card>
      </igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Wrapping content</span>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content">
        <igx-grid [data]="northwindEmployees" primaryKey="employeeID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid_1">
          <igx-column header="employeeID" field="employeeID" dataType="number" [sortable]="true" title="employeeID"></igx-column>
          <igx-column header="lastName" field="lastName" dataType="string" [sortable]="true" title="lastName"></igx-column>
          <igx-column header="firstName" field="firstName" dataType="string" [sortable]="true" title="firstName"></igx-column>
          <igx-column header="title" field="title" dataType="string" [sortable]="true" title="title"></igx-column>
          <igx-column header="titleOfCourtesy" field="titleOfCourtesy" dataType="string" [sortable]="true" title="titleOfCourtesy"></igx-column>
          <igx-column header="birthDate" field="birthDate" dataType="date" [sortable]="true" title="birthDate"></igx-column>
          <igx-column header="hireDate" field="hireDate" dataType="date" [sortable]="true" title="hireDate"></igx-column>
          <igx-column header="street" field="address.street" dataType="string" [sortable]="true" title="address.street"></igx-column>
          <igx-column header="city" field="address.city" dataType="string" [sortable]="true" title="address.city"></igx-column>
          <igx-column header="region" field="address.region" dataType="string" [sortable]="true" title="address.region"></igx-column>
          <igx-column header="postalCode" field="address.postalCode" dataType="string" [sortable]="true" title="address.postalCode"></igx-column>
          <igx-column header="country" field="address.country" dataType="string" [sortable]="true" title="address.country"></igx-column>
          <igx-column header="phone" field="address.phone" dataType="string" [sortable]="true" title="address.phone"></igx-column>
          <igx-column header="notes" field="notes" dataType="string" [sortable]="true" title="notes"></igx-column>
        </igx-grid>
      </igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Row layout + grid</span>
        <igx-icon igxTabHeaderIcon>backup</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="fake_tab_content">
        <igx-grid [data]="northwindCustomers" primaryKey="customerID" displayDensity="cosy" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid_1">
          <igx-column header="customerID" field="customerID" dataType="string" [sortable]="true" title="customerID"></igx-column>
          <igx-column header="companyName" field="companyName" dataType="string" [sortable]="true" title="companyName"></igx-column>
          <igx-column header="contactName" field="contactName" dataType="string" [sortable]="true" title="contactName"></igx-column>
          <igx-column header="contactTitle" field="contactTitle" dataType="string" [sortable]="true" title="contactTitle"></igx-column>
          <igx-column header="street" field="address.street" dataType="string" [sortable]="true" title="address.street"></igx-column>
          <igx-column header="city" field="address.city" dataType="string" [sortable]="true" title="address.city"></igx-column>
          <igx-column header="region" field="address.region" dataType="string" [sortable]="true" title="address.region"></igx-column>
          <igx-column header="postalCode" field="address.postalCode" dataType="string" [sortable]="true" title="address.postalCode"></igx-column>
          <igx-column header="country" field="address.country" dataType="string" [sortable]="true" title="address.country"></igx-column>
          <igx-column header="phone" field="address.phone" dataType="string" [sortable]="true" title="address.phone"></igx-column>
        </igx-grid>
      </igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Column layout + grid</span>
        <igx-icon igxTabHeaderIcon>backup</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
</div>
