<div class="column-layout column-layout-1">
  <h5 class="title-1">
    Select all components shown here, and use keyboard shortcut to copy paste
  </h5>
  <igx-input-group type="border" class="user-input">
    <input type="text" igxInput />
    <label igxLabel>Label/Placeholder</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <input type="text" igxInput />
    <label igxLabel>Label/Placeholder</label>
  </igx-input-group>
  <igx-input-group type="border" class="user-input">
    <igx-prefix>
      <igx-icon class="icon-1">
        person
      </igx-icon>
    </igx-prefix>
    <input type="text" igxInput />
    <label igxLabel>Label/Placeholder</label>
  </igx-input-group>
  <button igxButton="raised" igxRipple class="user-input">
    <igx-icon>
      add
    </igx-icon>
    <span>Button</span>
  </button>
  <button igxButton="raised" igxRipple class="user-input">
    Button
  </button>
  <igx-tabs [disableAnimation]="true" class="tabs">
    <igx-tab-item [selected]="true" [disabled]="false" class="row-layout tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="row-layout tab-item">
      <igx-tab-content class="fake_tab_content"></igx-tab-content>
      <igx-tab-header>
        <span igxTabHeaderLabel>Label</span>
        <igx-icon igxTabHeaderIcon>info</igx-icon>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
</div>
<div class="column-layout column-layout-1_1">
  <h5 class="title-1">
    Paste here using context menu and keyboard shortcut
  </h5>
</div>
